


 form {
  display: flex;
  flex-direction: column;
   flex-wrap: wrap;
   width:200px;
}

@media screen and (max-width: 400px) {
  /* body {
    background-color: lightgreen;
  } */

   form {
  
    width:300px;
  } 
}  