
body {
  background-color: gray;
}


.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
    
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    overflow: visible !important;
}


circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

