
/* .inc-btn {
  
} */
 
@font-face {
  font-family: "Nanum Gothic Coding", sans-serif;
  src: local("Nanum_Gothic_Coding"),
    url("./fonts/Nanum_Gothic_Coding/NanumGothicCoding-Regular.ttf") format("truetype");
  font-weight: regular;
}

.goalsList {
  font-family: 'Nanum Gothic Coding', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
} 