input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.singleTaskCard{
  font-family: 'Nanum Gothic Coding', sans-serif;
  background-color: orangered;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 5px;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}

.clickables-box{
  display: flex;
  align-items: center;
}

.priority::before {
  color: #535353;
    /* margin-right: 9px; */
    
    font-size: 32px;
  content:"★"
}


.priority--active::before {
  color: #ffe114;
    /* margin-right: 9px; */
  
    font-size: 32px;
    content: "★"
}

.checkbox {
  height: 41px;
    width: 41px;
    background: #fff;
    border: 2px #ddd solid;
    margin: 4px;
}

.checkbox--active {
  border-color: purple;
  background: purple;
}

li {
  background-color: red;
  color: white;
  list-style-type: none;
    /* Remove bullets */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margins */
}

@font-face {
  font-family: "Nanum Gothic Coding", sans-serif;
  src: local("Nanum_Gothic_Coding"),
    url("./fonts/Nanum_Gothic_Coding/NanumGothicCoding-Regular.ttf") format("truetype");
  font-weight: regular;
}