input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.singleTaskCard{
  font-family: 'Nanum Gothic Coding', sans-serif;
  background-color: orangered;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 5px;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}

.clickables-box{
  display: flex;
  align-items: center;
}

.priority::before {
  color: #535353;
    /* margin-right: 9px; */
    
    font-size: 32px;
  content:"★"
}


.priority--active::before {
  color: #ffe114;
    /* margin-right: 9px; */
  
    font-size: 32px;
    content: "★"
}

.checkbox {
  height: 41px;
    width: 41px;
    background: #fff;
    border: 2px #ddd solid;
    margin: 4px;
}

.checkbox--active {
  border-color: purple;
  background: purple;
}

li {
  background-color: red;
  color: white;
  list-style-type: none;
    /* Remove bullets */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margins */
}

@font-face {
  font-family: "Nanum Gothic Coding", sans-serif;
  src: local("Nanum_Gothic_Coding"),
    url("./fonts/Nanum_Gothic_Coding/NanumGothicCoding-Regular.ttf") format("truetype");
  font-weight: regular;
}


@keyframes blink {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: var(--blinking-color);
    /* or any other color you prefer */
  }

  100% {
    background-color: transparent;
  }
}



@keyframes past-due {
  0% {
    background-color: greenyellow;
  }
  
  50% {
    /* background-color: rgb(255, 0, 225); */
    /* or any other color you prefer */
    background-image: url("/past-due-background.png");
  }
  
  100% {
    background-color: yellowgreen;
  }
}

.flashing-past-due {
  animation: past-due .5s infinite;
  /* You can adjust the duration and iteration count as needed */
}

.blinking {
  animation: blink 2s infinite;
  /* You can adjust the duration and iteration count as needed */
}
@keyframes very-late {
  0% {
    background-color: greenyellow;
  }

  50% {
    /* background-color: rgb(255, 0, 225); */
    /* or any other color you prefer */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23FFFFFF" width="48px" height="48px"><text x="50%" y="50%" font-size="12" dominant-baseline="middle" text-anchor="middle">💀</text></svg>');
  }

  100% {
    background-color: yellowgreen;
  }
}

.flashing-very-late {
  animation: past-due 1s infinite;
  /* You can adjust the duration and iteration count as needed */
}

.deadline-box {
  display: flex;
  
}

.deadline-box h3{
 margin: 5px;

}

/* background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23FFFFFF" width="48px" height="48px"><text x="50%" y="50%" font-size="12" dominant-baseline="middle" text-anchor="middle">💀</text></svg>'); */